<div class="container">
  <form>
    <div class="container">
      <div>
        <label>Username : </label>
        <input
          type="text"
          placeholder="Enter Username"
          name="username"
          required
        />
      </div>
      <br />
      <div>
        <label>Password : </label>
        <input
          type="password"
          placeholder="Enter Password"
          name="password"
          required
        />
      </div>
      <button type="submit">Login</button>
      <input type="checkbox" /> Remember me
      <button type="button" class="cancelbtn">Cancel</button>
    </div>
  </form>
</div>
