.container {
  display: flex;
  justify-content: center;
  background-color: seashell;
}
.labletag {
  display: flex;
  justify-content: center;
  background: rgb(86, 65, 65);
  color: white;
}

.inlinContainer {
  justify-content: center;
}
.form-control {
  padding: 4px;
  display: flex;
  justify-content: center;
  width: 238px;
}
form {
  padding: 10px;
  width: 250px;
  height: 600px;
  background-color: rgb(119, 77, 77);
}
input {
  border: 2px;
}
label {
  color: aliceblue;
}
.passeye {
  position: relative;
  left: 210px;
  bottom: 23px;
}
