.container {
  display: flex;
  justify-content: center;
  background-color: seashell;
}

.inlinContainer {
  justify-content: center;
}
.form-control {
  padding: 4px;
  display: flex;
  justify-content: center;
  width: 238px;
}
form {
  width: 250px;
  height: 400px;
  background-color: rgb(106, 167, 167);
}
