<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="container">
  <div class="inlinContainer">
    <form [formGroup]="userlogin" (ngSubmit)="proceedLogin()">
      <div class="labletag">
        <h1>Login Page</h1>
      </div>
      <br /><br />
      <section>
        <div>
          <figure>
            <img
              src="assets/images/femaleDoctor.png"
              alt="doctor"
              width="150"
              length="150"
            />
          </figure>
        </div>
      </section>

      <div class="form-group">
        <label> <b>Username : </b> </label>
        <input
          class="form-control"
          type="text"
          placeholder="Enter Username"
          name="username"
          formControlName="id"
          required
        />
      </div>
      <br />
      <div class="form-group">
        <label><b>Password : </b> </label>
        <input
          class="form-control"
          type="password"
          placeholder="Enter Password"
          name="password"
          formControlName="password"
          required
        />
        <span class="passeye" (click)="viewpassword()"
          ><i
            [ngClass]="visible ? 'fa fa-eye' : 'fa fa-eye-slash'"
            id="togglePassword"
          ></i
        ></span>
      </div>
      <br />
      <input type="checkbox" /> Remember me <br /><br /><br />
      <div>
        <button
          (click)="proceedLogin()"
          style="width: 210px; background: rgb(87, 142, 168); padding: 4px;"
        >
          Login
        </button>
      </div>
      <br />
      <div>
        <a routerLink="/register" mat-button color="accent"
          ><button
            style="width: 210px; background: rgb(87, 142, 168); padding: 4px"
          >
            Register
          </button></a
        >
      </div>
    </form>
  </div>
</div>
