.container {
  display: flex;
  justify-content: center;
  background-color: seashell;
}

.form-control {
  display: flex;
  justify-content: center;
}

.error {
  border: 1px solid red;
}

.text-warning {
  color: red;
}
