.container {
  display: flex;
  justify-content: center;
  background-color: seashell;
}
form {
  background-color: rgb(138, 138, 107);
  width: 250px;
  height: 700px;
  padding-left: 10px;
}

.form-control {
  display: flex;
  justify-content: center;
  padding-left: 4px;
  padding-right: 4px;
  width: 220px;
}

.error {
  border: 1px solid red;
}

.text-warning {
  color: red;
}

.checkInput {
  position: relative;
  left: 200px;
  bottom: 20px;
}
