<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Doctor Id</th>
        <th scope="col">Mobile NO</th>
        <th scope="col">Email ID</th>
        <th scope="col">Full Name</th>
        <th scope="col">Date</th>
        <th scope="col">Degree</th>
        <th scope="col">Fee</th>
        <th scope="col">PersonalFee</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of doctorsDetails">
        <td>{{ d.id }}</td>
        <td>{{ d.mobile }}</td>
        <td>{{ d.email }}</td>
        <td>{{ d.name }}</td>
        <td>{{ d.generationDate }}</td>
        <td>{{ d.degree }}</td>
        <td>{{ d.consultFeeOnline }}</td>
        <td>{{ d.offlineFee }}</td>
        <td>
          <button
            type="submit"
            style="background: blanchedalmond"
            (click)="deleteData(d.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
