<!DOCTYPE html>
<html lang="en">
  <header class="dash"></header>
  <body>
    <div class="container">
      <div>
        <nav>
          <a
            class="button"
            routerLink="/register"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page"
          >
            <button>Register Doctors</button>
          </a>
        </nav>
      </div>
      <div>
        <a
          class="button"
          routerLink="/login"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page"
        >
          <button>Login</button>
        </a>
      </div>
    </div>
  </body>

  <nav>
    |
    <a
      class="button"
      routerLink="/details"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      <button>Details</button>
    </a>
  </nav>

  <body></body>
</html>

<router-outlet></router-outlet>
