<!-- <nav>
    |
    <a
      class="button"
      routerLink="/home"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      <button>Home</button>
    </a>
  </nav> -->

<!-- <a
      class="button"
      routerLink="/register"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    > </a> -->
<button class="button" routerLink="/register">Register Doctors</button>

<!-- <a> </a> -->
<button
  class="button"
  routerLink="/login"
  routerLinkActive="activebutton"
  ariaCurrentWhenActive="page"
>
  Login
</button>

<!-- <a
    class="button"
    routerLink="/details"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  > -->
<button
  class="button"
  routerLink="/details"
  routerLinkActive="activebutton"
  ariaCurrentWhenActive="page"
>
  Details
</button>
<!-- </a> -->

<router-outlet></router-outlet>
