<div class="headline">
  <h1>Registration</h1>
</div>
<div class="container">
  <br />
  <div class="">
    <body>
      <title><h2>Thank you</h2></title>

      <div>
        <h3><b>You have successfully registered.</b></h3>
      </div>
      <div>
        <a routerLink="/login"
          ><button style="background-color: rgb(32, 139, 232)">
            GoTo Login Page
          </button></a
        >
      </div>

      <br />
      <div>
        <a routerLink="/home"
          ><button style="background-color: rgb(32, 139, 232)">
            GoTo Home Page
          </button></a
        >
      </div>
    </body>
  </div>
</div>
